* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;

    /* Variables */
    --margin-main: 5rem;
}

body {
    font-size: 1rem;
    font-family: "PangramSans", sans-serif;
    font-weight: 400;
    line-height: 1.2;
}

ul {
    list-style: none;
    margin: 0;
}

a {
    display: block;
    text-decoration: none;
}

span,
img,
svg,
picture {
    display: block;
}

img,
svg,
picture {
    width: 100%;
    height: auto;
}

/* Fonts */
@font-face {
    font-family: "MonumentExtended", sans-serif;
    src: url("../font/MonumentExtended/PPMonumentExtended-Regular.woff2") format("WOFF2"),
        url("../font/MonumentExtended/PPMonumentExtended-Regular.woff") format("WOFF");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "MonumentExtended", sans-serif;
    src: url("../font/MonumentExtended/PPMonumentExtended-Bold.woff2") format("WOFF2"),
        url("../font/MonumentExtended/PPMonumentExtended-Bold.woff") format("WOFF");
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "PangramSans", sans-serif;
    src: url("../font/PangramSans/PPPangramSans-Semibold.woff2") format("WOFF2"),
        url("../font/PangramSans/PPPangramSans-Semibold.woff") format("WOFF");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "PangramSans", sans-serif;
    src: url("../font/PangramSans/PPPangramSans-Regular.woff2") format("WOFF2"),
        url("../font/PangramSans/PPPangramSans-Regular.woff") format("WOFF");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Font Awesome Pro Solid';
    src: url("../font/fontawesome/webfonts/fa-pro-solid-900.woff2") format("WOFF2"),
        url("../font/fontawesome/webfonts/fa-pro-solid-900.woff") format("WOFF");
        font-weight: 900;
        font-display: swap;
}
@font-face {
    font-family: 'Font Awesome Brands';
    src: url("../font/fontawesome/webfonts/fa-pro-brands-400.woff2") format("WOFF2"),
        url("../font/fontawesome/webfonts/fa-pro-brands-400.woff") format("WOFF");
        font-weight: 400;
        font-display: swap;
}
/* Titles */
h1,
.h1 {
    font-size: 3rem;
}

h2,
.h2 {
    font-size: 2.5rem;
}

h3,
.h3 {
    font-size: 1.5rem;
}

h4,
.h4 {
    font-size: 1.25rem;
}
h5{
    font-size: 4rem;
    text-align: center;
}

/* Container */
main {
    margin-top: var(--margin-main) !important;
    margin-bottom: var(--margin-main) !important;
}

.container {
    width: 100%;
    padding: 0 calc(1.5rem * 0.5);
    margin: 0 auto;
}

.container {
    max-width: 1400px;
}
.construction-container {
    text-align: center;
    padding: 2rem;
    margin-top: var(--margin-main);
    background-color: #333;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.construction-icon {
    font-size: 4rem;
    color: #ffcc00;
    margin-bottom: 1.5rem;
}

.construction-container h1 {
    font-family: "MonumentExtended", sans-serif;
    color: white;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.construction-container p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #ccc;
    font-family: "PangramSans", sans-serif;
    margin-bottom: 2rem;
}
/* Center video */
.video-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

/* Pitch contacts section */
.pitch-contacts h1,.pitch-contacts h2, .pitch-video h1 {
    margin-top: 3rem;
    text-align: center;
    color: #333;
    font-weight: bold;
}

/* Contact cards layout */
.contact-cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}

/* Individual contact card styling */
.contact-card {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer le contenu horizontalement */
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    margin: 10px; /* Espacement entre les cartes */
    max-width: 250px; /* Limite la largeur de chaque carte pour un meilleur rendu */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

/* Contact card image styling */
.contact-card>img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    
}

/* Contact info styling */
.contact-info h6 {
    font-size: 1.2rem;
    color: #222;
    margin: 0.5rem 0;
}

.contact-role {
    font-size: 0.9rem;
    color: #666;
    margin: 0;
}

.contact-description {
    font-size: 0.875rem;
    color: #555;
    margin: 0.5rem 0 1rem;
}

/* LinkedIn link styling */
.linkedin-link {
    display: inline-flex;
    align-items: center;
    color: #0A66C2;
    text-decoration: none;
    font-size: 0.9rem;
}

.linkedin-link i {
    margin-right: 0.3rem;
    font-size: 1.2rem;
}
/* Boutons */
.btn,
button {
    padding: 1rem 2rem;
    outline: none;
    border: 0.063rem solid transparent;
    background-color: transparent;
    font-weight: 700;
    font-size: 1rem;
    display: block;
    border-radius: 2rem;
    cursor: pointer;
    transition: 250ms ease;
}

.btn.btn-primary {
    background-color: #141413;
    color: #fff;
    border-color: #141413;
}

.btn.btn-primary:hover {
    background-color: #212221;
    border-color: #212221;
}

.btn.btn-primary:focus,
.btn.btn-primary:active {
    background-color: #3b3d3e;
    border-color: #3b3d3e;
}
.button-group {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
  }
.button-group>a>svg{
    display: inline-flex;
    height: 1rem;
    width:1rem
}

/* Navigation */
header>nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

header>nav>a.nav-logo {
    color: #141413;
    transition: 250ms ease;
}

header>nav>a.nav-logo:hover {
    color: #3b3d3e;
}

/* Main */
.hero-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    height: 100%;
}

.hero-wrapper h1 {
    grid-column-start: 1;
    grid-column-end: span 5;
    margin-top: 5rem;
}

.hero-wrapper picture {
    grid-column-start: 7;
    grid-column-end: span 5;
    height: 100%;
}

.hero-wrapper picture img {
    height: 500px;
    object-fit: cover;
}
/* Conteneur général de la section */
.about-me {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
  }
  
  /* Contenu centré avec un maximum de largeur */
  .about-me-content {
    max-width: 800px;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
  }
  
  /* Titre stylisé */
  .about-me h5 {
    font-size: 2.5em;
    color: #333; /* Couleur pour le texte */
    margin-bottom: 15px;
    font-family: "PangramSans", sans-serif; /* Exemple de police moderne */
    font-weight: 700;
    border-bottom: 3px solid #4CAF50; /* Ligne sous le titre */
    display: inline-block; /* Pour centrer la ligne sous le titre */
    padding-bottom: 5px;
  }
  
  /* Texte du paragraphe */
  .about-me p {
    font-size: 1.2em;
    line-height: 1.8;
    color: #666; /* Couleur douce pour le paragraphe */
    text-align: justify;
    margin-top: 20px;
    font-family: "PangramSans", sans-serif; /* Police pour le texte */
  }
/* Accordion Menu */
.accordion-wrapper {
    margin-top: var(--margin-main);
}

.accordion-item {
    background-color: #fff;
    border: 0.063rem solid transparent;
    border-bottom-color: #dfe2e5;
}

.accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    color: #141413;
    border-radius: 0;
    width: 100%;
}

.accordion-button>div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.accordion-button .bi-circle {
    transform: scale(1);
}

.accordion-button:hover .bi-circle {
    animation: scaleOut 600ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

@keyframes scaleOut {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.accordion-button .bi-arrow-down {
    transition: transform 300ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.accordion-button.collapsed .bi-arrow-down {
    transform: rotate(0);
}

.accordion-collapse {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.accordion-body {
    padding: 1.5rem 2rem 3rem 1.5rem;
}

.accordion-body ul {
    display: flex;
    column-gap: 1.5rem;
    flex-wrap: wrap;
}

.accordion-body ul>li {
    width: 100%;
    flex: 0 0 calc(100% / 2 - 0.75rem);
}

.accordion-body ul>li>a {
    color: #141413;
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.063rem solid transparent;
    border-bottom-color: #dfe2e5;
    width: 100%;
    position: relative;
    gap: 0.5rem;
}
.accordion-body ul>li>a>i.fa-basketball{
    --fa-bounce-land-scale-x: 1.2;
    --fa-bounce-land-scale-y: .8;
    --fa-bounce-rebound: 5px;
}
.accordion-body ul>li>a>svg{
    display: flex;
    height: 1rem;
    width: 1rem;
}
.accordion-body ul>li>a>span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.accordion-body ul>li>a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.063rem;
    background-color: #141413;
    transition: width 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.accordion-body ul>li>a:hover::after {
    width: 100%;
}
.accordion-body ul>li>a>img{
    width: 1rem;
    height: 1rem;  
}
.img-bounce {
    display: inline-block;
    animation: bounce 1s infinite;
    transform-origin: center bottom;
}
.svg-bounce{
    display: inline-block;
    animation: bounce 1s infinite;
    transform-origin: center bottom;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0) scaleX(1) scaleY(1); /* Position normale */
    }
    30% {
        transform: translateY(-8px) scaleX(1.05) scaleY(0.95); /* Étirement vers le haut */
    }
    50% {
        transform: translateY(0) scaleX(0.95) scaleY(1.05); /* Écrasement */
    }
    70% {
        transform: translateY(-5px) scaleX(1.02) scaleY(0.98); /* Étirement plus léger */
    }
}
/* Footer */
footer>nav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

footer>nav>span {
    font-family: "MonumentExtended";
    font-weight: 400;
}

/* Responsive */
@media screen and (max-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (max-width: 768px) {
    :root {
        font-size: 14px;
    
        /* Variables */
        --margin-main: 2.5rem;
    }

    .container {
        max-width: 720px;
    }

    /* Titles */
    h1,
    .h1 {
        font-size: 2.5rem;
    }

    h2,
    .h2 {
        font-size: 2rem;
    }

    .hero-wrapper picture {
        grid-column-end: span 6;
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 540px;
    }

    .hero-wrapper {
        row-gap: 1.5rem;
    }

    .hero-wrapper h1 {
        margin-top: 0;
        grid-column-end: span 12;
    }

    .hero-wrapper picture {
        grid-column-start: 1;
        grid-column-end: span 12;
    }

    .hero-wrapper picture img {
        height: 400px;
    }

    .accordion-body ul>li {
        flex: 0 0 100%;
    }
    .about-me-content { 
        padding: 0;
    }
    .button-group a { 
        width: 100%
    }
}
